@{
    ViewData["Title"] = "Politíca de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A JAG Stuido Music é uma empresa privada e leva a segurança da informação em primeiro lugar, aceite nossos termos de privacidade. </p>
