<!---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JAG Studio Music</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudioMusica</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shared" asp-action="_Layout2">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Studio" asp-action="Indexmusico">Musicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Studio" asp-action="Indexinstrumento">Instrumentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Studio" asp-action="IndexFaixa">Musicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Studio" asp-action="IndexAlbum">Albuns</a>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - StudioMusica - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
    -->
<!doctype html>
<html lang="pt">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JAG- Studio Musical</title>
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
                <a href="index.html" class="header-logo">
                    <img src="~/images/logo.png" class="img-fluid rounded-normal" alt="">
                    <div class="logo-title">
                        <span class="text-primary text-uppercase">JAG</span>
                    </div>
                </a>
                <div class="iq-menu-bt-sidebar">
                    <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="las la-bars"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="active active-menu">
                            <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="las la-home "></i><span>Central</span></i></a>
                            <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                                <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="las la-house-damage"></i>Inicio</a></li>
                                <li><a href="#"><i class="las la-headphones"></i>Novos</a></li>
                                <li><a href="#"><i class="lar la-file-audio"></i>Albums</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user"></i><span>Admin</span></a>
                            <ul id="admin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li><a asp-area="" asp-controller="Instrumento" asp-action="IndexInstrumento"><i class="las la-guitar"></i>Instrumentos</a></li>
                                <li><a asp-area="" asp-controller="Musico" asp-action="IndexMusico"><i class="las la-user"></i>Cantores</a></li>
                                <li><a asp-area="" asp-controller="Album" asp-action="IndexAlbum"><i class="las la-microphone-alt"></i>Albuns</a></li>
                                <li><a asp-area="" asp-controller="Faixa" asp-action="Index"><i class="las la-play-circle"></i>Musicas</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>

        <!-- TOP Nav Bar -->
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-menu-bt d-flex align-items-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="las la-bars"></i></div>
                        </div>
                        <div class="iq-navbar-logo d-flex justify-content-between">
                            <a href="index.html" class="header-logo">
                                <img src="~/images/logo.png" class="img-fluid rounded-normal" alt="">
                                <div class="pt-2 pl-2 logo-title">
                                    <span class="text-primary text-uppercase">JAG</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="list-unstyled iq-menu-top d-flex justify-content-between mb-0 p-0">
                            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                            <li><a href="#">Novos</a></li>
                            <li><a href="#">Albums</a></li>
                        </ul>
                        <ul class="navbar-nav ml-auto navbar-list">
                            <li class="nav-item nav-icon">
                                <div class="iq-search-bar">
                                    <form action="#" class="searchbox">
                                        <input type="text" class="text search-input" placeholder="Pesquise Aqui">
                                        <a class="search-link" href="#"><i class="ri-search-line text-black"></i></a>
                                        <a class="search-audio" href="#"><i class="las la-microphone text-black"></i></a>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item nav-icon search-content">
                                <a href="#" class="search-toggle iq-waves-effect text-gray rounded">
                                    <span class="ripple rippleEffect "></span>
                                    <i class="ri-search-line text-black"></i>
                                </a>
                                <form action="#" class="search-box p-0">
                                    <input type="text" class="text search-input" placeholder="Click para pesquisar..">
                                    <a class="search-link" href="#"><i class="ri-search-line text-black"></i></a>
                                    <a class="search-audio" href="#"><i class="las la-microphone text-black"></i></a>
                                </form>
                            </li>
                            <li class="nav-item nav-icon">
                                <a href="#" class="search-toggle iq-waves-effect text-black rounded">
                                    <i class="las la-cog"></i>
                                    <span class=" dots"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="player row">
                        <div class="details col-6 col-sm-4 col-md-4 col-lg-4">
                            <div class="now-playing"></div>
                            <div class="track-art"></div>
                            <div>
                                <div class="track-name">Pop Smoke </div>
                                <div class="track-artist">Cascada</div>
                            </div>
                        </div>
                        <div class="slider_container slider_music col-sm-5 col-md-4 col-lg-4">
                            <div class="current-time">00:00</div>
                            <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                            <div class="total-duration">00:00</div>
                        </div>
                        <div class="buttons col-6  col-sm-3 col-md-2  col-lg-2">
                            <div class="prev-track" onclick="prevTrack()"><i class="fa fa-step-backward fa-2x"></i></div>
                            <div class="playpause-track" onclick="playpauseTrack()"><i class="fa fa-play-circle fa-3x"></i></div>
                            <div class="next-track" onclick="nextTrack()"><i class="fa fa-step-forward fa-2x"></i></div>
                        </div>
                        <div class="slider_container sound col-sm-6 col-md-2  col-lg-2">
                            <i class="fa fa-volume-down"></i>
                            <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                            <i class="fa fa-volume-up"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer END -->
    <!-- color-customizer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS
    <script data-cfasync="false" src="~/js/email-decode.min.js"></script>-->
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="~/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="~/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="~/js/apexcharts.js"></script>
    <!-- Slick JavaScript -->
    <script src="~/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="~/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="~/js/smooth-scrollbar.js"></script>
    <!-- lottie JavaScript -->
    <script src="~/js/lottie.js"></script>
    <!-- am core JavaScript -->
    <script src="~/js/core.js"></script>
    <!-- am charts JavaScript -->
    <script src="~/js/charts.js"></script>
    <!-- am animated JavaScript -->
    <script src="~/js/animated.js"></script>
    <!-- am kelly JavaScript -->
    <script src="~/js/kelly.js"></script>
    <!-- am maps JavaScript -->
    <script src="~/js/maps.js"></script>
    <!-- am worldLow JavaScript -->
    <script src="~/js/worldLow.js"></script>
    <!-- Raphael-min JavaScript -->
    <script src="~/js/raphael-min.js"></script>
    <!-- Morris JavaScript -->
    <script src="~/js/morris.js"></script>
    <!-- Morris min JavaScript -->
    <script src="~/js/morris.min.js"></script>
    <!-- Flatpicker Js -->
    <script src="~/js/flatpickr.js"></script>
    <!-- Style Customizer -->
    <script src="~/js/style-customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="~/js/chart-custom.js"></script>
    <!-- music js -->
    <script src="~/js/music-player.js"></script>
    <!-- music-player js -->
    <script src="~/js/music-player-dashboard.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/Upload.js"></script>
</body>
</html>